In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("./data/data.csv", nrows=100)

In [12]:
df.head()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:57,2014.7.1 0:07,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15,303,Broadway & Cornelia Ave,41.945512,-87.645980,15
1,2355133,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:56,2014.7.1 0:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15,22,May St & Taylor St,41.869482,-87.655486,15
2,2355130,2014,6,27,0,23,Subscriber,Male,2014.6.30 23:33,2014.6.30 23:35,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19,225,Halsted St & Dickens Ave,41.919936,-87.648830,15
3,2355129,2014,6,27,0,23,Subscriber,Female,2014.6.30 23:26,2014.7.1 0:24,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19,194,State St & Wacker Dr,41.887155,-87.627750,11
4,2355128,2014,6,27,0,23,Subscriber,Female,2014.6.30 23:16,2014.6.30 23:26,...,320,Loomis St & Lexington St,41.872187,-87.661501,15,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19

In [13]:
df.dtypes

trip_id                int64
year                   int64
month                  int64
week                   int64
day                    int64
hour                   int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration         float64
temperature            int64
events                object
from_station_id        int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start       int64
to_station_id          int64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end         int64
dtype: object

In [15]:
df["starttime"].astype("str")

0     2014.6.30 23:57
1     2014.6.30 23:56
2     2014.6.30 23:33
3     2014.6.30 23:26
4     2014.6.30 23:16
           ...
95    2014.6.30 20:21
96    2014.6.30 20:21
97    2014.6.30 20:21
98    2014.6.30 20:19
99    2014.6.30 20:18
Name: starttime, Length: 100, dtype: object

In [20]:
df["starttime"].astype("datetime64")

0    2014-06-30 23:57:00
1    2014-06-30 23:56:00
2    2014-06-30 23:33:00
3    2014-06-30 23:26:00
4    2014-06-30 23:16:00
             ...
95   2014-06-30 20:21:00
96   2014-06-30 20:21:00
97   2014-06-30 20:21:00
98   2014-06-30 20:19:00
99   2014-06-30 20:18:00
Name: starttime, Length: 100, dtype: datetime64[ns]

In [8]:
df["starttime"] = pd.to_datetime(df["starttime"])

In [9]:
df.dtypes

trip_id                       int64
year                          int64
month                         int64
week                          int64
day                           int64
hour                          int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime                     object
tripduration                float64
temperature                   int64
events                       object
from_station_id               int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start              int64
to_station_id                 int64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end                int64
dtype: object