In [15]:
# parse a JSON string using json.loads() method : returns a dictionary

import json
import urllib
import pandas as pd
import sys

if sys.version_info[0] == 3:
    from urllib.request import urlopen # for Python 3.x
else:
    from urllib import urlopen           # for Python 2.x

with urlopen("http://api.nobelprize.org/v1/prize.json") as url:
    novel_prize_json_file = url.read()
novel_prize_json = json.loads(novel_prize_json_file.decode('utf-8'))

file_path = "./prize.json"

with open(file_path, 'w') as outfile:
    json.dump(novel_prize_json, outfile)

In [16]:
file_path = "./prize.json"

with open(file_path, "r") as json_file:
    novel_prize_json = json.load(json_file)

In [19]:
novel_prize_json.keys()

dict_keys(['prizes'])

In [22]:
novel_prize_json['prizes'][0]

{'year': '2020',
 'category': 'chemistry',
 'laureates': [{'id': '991',
   'firstname': 'Emmanuelle',
   'surname': 'Charpentier',
   'motivation': '"for the development of a method for genome editing"',
   'share': '2'},
  {'id': '992',
   'firstname': 'Jennifer A.',
   'surname': 'Doudna',
   'motivation': '"for the development of a method for genome editing"',
   'share': '2'}]}

In [32]:
novel_prize_json['prizes'][0].keys()

dict_keys(['year', 'category', 'laureates'])

In [33]:
novel_prize_chemistry = pd.DataFrame(novel_prize_json['prizes'][0]["laureates"])

In [34]:
novel_prize_chemistry

,id,firstname,surname,motivation,share
0,991,Emmanuelle,Charpentier,"""for the development of a method for genome ed...",2
1,992,Jennifer A.,Doudna,"""for the development of a method for genome ed...",2