In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('./data/titanic.csv', sep=',')

In [7]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
shape = {"row" : titanic_df.shape[0], "col" : titanic_df.shape[1]}

In [9]:
result = (titanic_df.isnull().sum(axis=0)/titanic_df.shape[0]).to_json(orient="index")
null_percentage = json.loads(result)

In [10]:
result = titanic_df.describe().to_json(orient="index")
describe_int = json.loads(result)

In [11]:
result = titanic_df.describe(include=[object]).to_json(orient="index")
describe_str = json.loads(result)

In [12]:
dtypes = dict(zip(list(titanic_df.columns), list(map(str, titanic_df.dtypes))))

In [13]:
value_counts = {}
for col in titanic_df.columns:
    tmp = titanic_df[col].value_counts().to_json(orient="index")
    value_counts[col] = json.loads(tmp)

In [14]:
result = {'nullPercentage': null_percentage, 
          'describeInt' : describe_int, 
          'describeStr' : describe_str, 
          'dtypes' : dtypes, 
          'shape': shape,
          'value_counts' : value_counts
         }

In [178]:
with open("./data/titanic.json", "w") as json_file:
    json.dump(result, json_file)

In [15]:
result = titanic_df.describe().to_json(orient="columns")
describe_int = json.loads(result)

In [16]:
result = titanic_df.describe(include=[object]).to_json(orient="columns")
describe_str = json.loads(result)

In [17]:
df_json = {}
describe_list = [describe_int, describe_str]
for describe in describe_list :
    for col in describe.keys():
        if col in df_json.keys():
            for key in describe[col].keys():
                df_json[col][key] = describe[col][key]
        else:
            df_json[col] =  describe[col]

In [19]:
for col in null_percentage:
    df_json[col]["nullPercentage"] = null_percentage[col]

In [20]:
for col in dtypes:
    df_json[col]["dtypes"] = dtypes[col]

In [22]:
for col in value_counts:
    df_json[col]["value_counts"] = value_counts[col]

In [23]:
result_json = {"columns" : df_json, "shape" : shape}
#df_json["shape"] = shape

In [25]:
with open("./data/titanic.json", "w") as json_file:
    json.dump(result_json, json_file)

In [251]:
value_counts = {}
for col in titanic_df.columns:
    tmp = titanic_df[col].value_counts().to_json(orient="index")
    value_counts[col] = json.loads(tmp)

In [258]:
tmp
for k,v in json.loads(tmp).items():
    print(k,v)

male 577
female 314

## git에 추가할 새로운 샘플코드

In [4]:
import pandas as pd
import json

df = pd.read_csv('./data/titanic.csv', sep=',')

In [6]:
shape = {"row" : df.shape[0], "col" : df.shape[1]}

In [5]:
get_shape(df)

{'row': 891, 'col': 12}

In [8]:
result = df.describe(include=[object]).to_json(orient="columns")
describe_str = json.loads(result)

In [9]:
df_json = {}
describe_list = [describe_int, describe_str]
for describe in describe_list :
    for col in describe.keys():
        if col in df_json.keys():
            for key in describe[col].keys():
                df_json[col][key] = describe[col][key]
        else:
            df_json[col] =  describe[col]

In [12]:
result = df.isnull().sum(axis=0).to_json(orient="index")
null = json.loads(result)

In [14]:
dtypes = dict(zip(list(df.columns), list(map(str, df.dtypes))))

In [24]:
value_counts = {}
for col in df.columns:
    if len(df[col].unique()) <= 10:
        tmp = df[col].value_counts().to_json(orient="index")
        value_counts[col] = json.loads(tmp)

In [27]:
info_dict = {"null":null, "dtypes":dtypes, "value_counts":value_counts}

for key, value in info_dict.items():
    for col in value:
        df_json[col][key] = value[col]

In [29]:
result_json = {"columns" : df_json, "shape" : shape}

In [32]:
with open("./data/titanic.json", "w") as json_file:
    json.dump(result_json, json_file)

## 함수 적용

In [24]:
import pandas as pd
import json

df = pd.read_csv('./data/titanic.csv', sep=',')

In [25]:
def get_shape(df):
    return {"row" : df.shape[0], "col" : df.shape[1]}

In [26]:
def get_describe(df):
    result = df.describe(include='all').to_json(orient="columns")
    return json.loads(result)

In [27]:
def get_null(df):
    result = df.isnull().sum(axis=0).to_json(orient="index")
    return json.loads(result)

In [28]:
def get_dtypes(df):
    return dict(zip(list(df.columns), list(map(str, df.dtypes))))

In [29]:
def get_value_counts(df):
    value_counts = {}
    for col in df.columns:
        if len(df[col].unique()) <= 10:
            tmp = df[col].value_counts().to_json(orient="index")
            value_counts[col] = json.loads(tmp)
    return value_counts

In [30]:
df_json = {}

In [31]:
describe = get_describe(df)

In [32]:
for col in describe.keys():
    if col in df_json.keys():
        for key in describe[col].keys():
            df_json[col][key] = describe[col][key]
    else:
        df_json[col] =  describe[col]

In [33]:
null = get_null(df)
dtypes = get_dtypes(df)
value_counts = get_value_counts(df)

In [34]:
info_dict = {"null":null, "dtypes":dtypes, "value_counts":value_counts}

for key, value in info_dict.items():
    for col in value.keys():
        df_json[col][key] = value[col]

In [37]:
result_json = {"columns" : df_json, "shape" : shape}

In [38]:
with open("./data/titanic.json", "w") as json_file:
    json.dump(result_json, json_file)