In [6]:
import pandas as pd
import json

In [3]:
df = pd.read_csv("./data/titanic.csv")

In [111]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [119]:
dict(zip(list(df.columns), list(map(str, df.dtypes))))

{'PassengerId': 'int64',
 'Survived': 'int64',
 'Pclass': 'int64',
 'Name': 'object',
 'Sex': 'object',
 'Age': 'float64',
 'SibSp': 'int64',
 'Parch': 'int64',
 'Ticket': 'object',
 'Fare': 'float64',
 'Cabin': 'object',
 'Embarked': 'object'}

In [115]:
list(map(str, df.dtypes))

['int64',
 'int64',
 'int64',
 'object',
 'object',
 'float64',
 'int64',
 'int64',
 'object',
 'float64',
 'object',
 'object']

In [112]:
list(df.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O')]

In [16]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [103]:
s = pd.cut(df['Age'], bins=10).value_counts()

In [104]:
s.index.map(lambda x : str(x)[1:-1].replace(",", " -"))

CategoricalIndex(['16.336 - 24.294', '24.294 - 32.252', '32.252 - 40.21',
                  '40.21 - 48.168', '0.34 - 8.378', '8.378 - 16.336',
                  '48.168 - 56.126', '56.126 - 64.084', '64.084 - 72.042',
                  '72.042 - 80.0'],
                 categories=['0.34 - 8.378', '8.378 - 16.336', '16.336 - 24.294', '24.294 - 32.252', '32.252 - 40.21', '40.21 - 48.168', '48.168 - 56.126', '56.126 - 64.084', ...], ordered=True, dtype='category')

In [94]:
s.index = s.index.astype("str")

In [101]:
s.index.map(lambda x : x[1:-1].replace(",", " -"))

Index(['16.336 - 24.294', '24.294 - 32.252', '32.252 - 40.21',
       '40.21 - 48.168', '0.34 - 8.378', '8.378 - 16.336', '48.168 - 56.126',
       '56.126 - 64.084', '64.084 - 72.042', '72.042 - 80.0'],
      dtype='object')

In [100]:
for idx in s.index:
    print(idx)

(16.336, 24.294]
(24.294, 32.252]
(32.252, 40.21]
(40.21, 48.168]
(0.34, 8.378]
(8.378, 16.336]
(48.168, 56.126]
(56.126, 64.084]
(64.084, 72.042]
(72.042, 80.0]

In [108]:
def get_value_counts(df):
    bins = 10
    
    value_counts = {}
    for col in df.columns:
        if len(df[col].unique()) <= 10:
            value_counts[col] = df[col].value_counts().to_dict()
        elif str(df[col].dtypes).startswith("int") or str(df[col].dtypes).startswith("float"):
            tmp = pd.cut(df['Age'], bins=bins).value_counts()
            tmp.index = tmp.index.astype("str")
            tmp.index = tmp.index.map(lambda x : x[1:-1].replace(",", " -"))
            value_counts[col] = tmp.to_dict()
        else:
            value_counts[col] = None
    return value_counts

In [109]:
get_value_counts(df)

{'PassengerId': {'16.336 - 24.294': 177,
  '24.294 - 32.252': 169,
  '32.252 - 40.21': 118,
  '40.21 - 48.168': 70,
  '0.34 - 8.378': 54,
  '8.378 - 16.336': 46,
  '48.168 - 56.126': 45,
  '56.126 - 64.084': 24,
  '64.084 - 72.042': 9,
  '72.042 - 80.0': 2},
 'Survived': {0: 549, 1: 342},
 'Pclass': {3: 491, 1: 216, 2: 184},
 'Name': None,
 'Sex': {'male': 577, 'female': 314},
 'Age': {'16.336 - 24.294': 177,
  '24.294 - 32.252': 169,
  '32.252 - 40.21': 118,
  '40.21 - 48.168': 70,
  '0.34 - 8.378': 54,
  '8.378 - 16.336': 46,
  '48.168 - 56.126': 45,
  '56.126 - 64.084': 24,
  '64.084 - 72.042': 9,
  '72.042 - 80.0': 2},
 'SibSp': {0: 608, 1: 209, 2: 28, 4: 18, 3: 16, 8: 7, 5: 5},
 'Parch': {0: 678, 1: 118, 2: 80, 5: 5, 3: 5, 4: 4, 6: 1},
 'Ticket': None,
 'Fare': {'16.336 - 24.294': 177,
  '24.294 - 32.252': 169,
  '32.252 - 40.21': 118,
  '40.21 - 48.168': 70,
  '0.34 - 8.378': 54,
  '8.378 - 16.336': 46,
  '48.168 - 56.126': 45,
  '56.126 - 64.084': 24,
  '64.084 - 72.042': 9,
  '72.042 - 80.0': 2},
 'Cabin': None,
 'Embarked': {'S': 644, 'C': 168, 'Q': 77}}

In [117]:
s = """{
  "path": "/Users/baek/git/datacentro/data-centro-python/sample/titanic_set.csv",
  "delimiter": ",",
  "numRow": "3",
  "encoding": "utf-8",
  "columnType": ['int64','int64','int64','object','object','float64','int64','int64','object','float64','object','object'],
  "useColumn": ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
  "orderColumn": ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
  "renameColumn": ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
}"""

In [118]:
s.replace("'", '"')

'{\n  "path": "/Users/baek/git/datacentro/data-centro-python/sample/titanic_set.csv",\n  "delimiter": ",",\n  "numRow": "3",\n  "encoding": "utf-8",\n  "columnType": ["int64","int64","int64","object","object","float64","int64","int64","object","float64","object","object"],\n  "useColumn": ["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp",\n       "Parch", "Ticket", "Fare", "Cabin", "Embarked"],\n  "orderColumn": ["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp",\n       "Parch", "Ticket", "Fare", "Cabin", "Embarked"],\n  "renameColumn": ["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp",\n       "Parch", "Ticket", "Fare", "Cabin", "Embarked"]\n}'